<div class="container">
  <form #fc="ngForm" (ngSubmit)="onSubmit(fc)">


  <div class="form-group">
    <label for="">Nome</label>
    <input type="text" name="nome" [(ngModel)]="cliente.nome" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="">E-mail</label>
    <input type="email" name="E-mail" [(ngModel)]="cliente.email" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="">Senha</label>
    <input type="password" name="pws" [(ngModel)]="cliente.pws" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="">Confirmação de senha</label>
    <input type="password" name="conf" [(ngModel)]="conf" class="form-control"required>
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Salvar</button>
    <button type="reset" class="btn btn-primary">Cancelar</button>
  </div>

</form>
</div>